body {
  background-color: #36454c;
}

path {
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 3;
}

polyline {
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 3;
}

line {
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 3;
}

polygon {
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 3;
}

#projects {
  position: absolute;
}

#proj-br {
  position: absolute;
}

#proj-origin {
  position: absolute;
}



.p-lines {
  display: inline;
  fill: none;
  stroke: #d5dde0;
  stroke-miterlimit: 10;
}

.st1 {
  fill: none;
  stroke: #d5dde0;
  stroke-miterlimit: 10;
}
