body {
  background-color: #36454c;
}

#projects {
  position: absolute;
}

#proj-br {
  position: absolute;
}

#proj-origin {
  position: absolute;
}

.p-lines {
  display: inline;
  fill: none;
  stroke: #d5dde0;
  stroke-miterlimit: 10;
}

.st1 {
  fill: none;
  stroke: #d5dde0;
  stroke-miterlimit: 10;
}
